@import "global";
@import "fonts";




.range {
  margin: 25px 0px;
}

.content {
  position: relative;
}

.result {

  .title {
    margin-bottom: 50px;
    font-family: 'PTRootUIWebBold', sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 55px;
  }

  .table {
    width: 800px;
    top: 103px;
    margin-bottom: 50px;
    font-family: 'PTRootUIWebRegular', sans-serif;

    .table-head {
      display: flex;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      padding: 0px 50px 0px 0px;
      min-width: 800px;
      height: 36px;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);

      .head-scheme {
        min-width: 80px;
        margin-right: 20px;
      }

      .head-type {
        min-width: 277px;
        margin-right: 20px;
      }

      .head-space {
        display: flex;
        min-width: 47px;
        margin-right: 90px;
        cursor: pointer;
      }

      .head-floors {
        min-width: 55px;
        margin-right: 90px;
        cursor: pointer;

      }

      .head-price {
        min-width: 55px;
        margin-right: 90px;
        cursor: pointer;
      }

      .active-head {
        color: #3EB57C;
      }
    }

    .arrows {
      position: relative;
      display: inline-block;
    }

    .arrows::after {
      content: '^';
      font-size: 16px;
      margin-left: 5px;
      color: #000;
      opacity: 0.4;
    }

    .arrows::before {
      position: absolute;
      content: '^';
      font-size: 16px;
      margin-left: 5px;
      top: 0px;
      transform: rotate(180deg);
      opacity: 0.4;
    }

    .apartment-item {
      display: flex;
      min-height: 105px;
      min-width: 800px;
      padding: 15px 50px 20px 0px;
      border-bottom: 1px solid #ccc;

      .scheme {
        min-width: 80px;
        height: 80px;
        margin-right: 20px;
      }

      .type {
        min-width: 275px;
        margin-right: 20px;
      }

      .space {
        min-width: 120px;
        margin-right: 20px;
      }

      .floors {
        min-width: 110px;
        margin-right: 20px;
      }

      .price {
        min-width: 280px;
        margin-right: 20px;
      }
    }

  }

  .btn {
    cursor: pointer;
    display: inline-block;
    padding: 8px 24px;
    border: 1px solid rgba(11, 23, 57, 0.2);
    border-radius: 25px;
  }
}

.filter {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #AEE4B2;
  width: 399px;
  height: 372px;
  padding: 40px;
  background: linear-gradient(135deg, rgba(174, 228, 178, 0.3) 0%, rgba(149, 208, 161, 0.3) 100%);
  border-radius: 10px;

  .filter-list {

    .filter-type {
      display: flex;
      justify-content: space-between;
      width: 224px;
      height: 44px;
      margin-bottom: 30px;

      .room {
        height: 44px;
        width: 44px;
        border-radius: 100px;
        background-color: #fff;
        text-align: center;
        padding-top: 12px;
        cursor: pointer;

        &.active {
          background-color: #3EB57C;
          color: #fff;
          background: #3EB57C;
          box-shadow: 0px 6px 20px #95D0A1;
          border-radius: 200px;
        }

        &.disable {
          background-color: #fff;
          opacity: 0.5;
        }
      }
    }

    .min-max {
      display: flex;
      justify-content: space-between;
      margin: 15px 0px -10px;
    }

    .min,
    .max {
      min-width: 200px;

      span {
        font-size: 16px;
        line-height: 24px;
        font-weight: 800;
      }
    }

    .filter-space {
      margin-top: 10px;
    }

    .filter-rset {
      margin: 30px 0px 7px;
      cursor: pointer;
    }
  }
}


.up {
  opacity: 0;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 30;
  cursor: pointer;
  transition: 1s all;
}

.show {
  opacity: 1;
}

@import "media";